<div id="bible-indice">
  {% for key, book in source.books %}
  <div id="bible-book-{{key}}">
      <div class="bible-book-name" id="bible-name-{{key}}-{{source.id}}">{{book.name}}</div>
  </div>
  {% endfor %}
</div>

<div id="bible-text">
  {% for verse in chapter.verses %}
  <div id="bible-verse-{{verse.number}}">
      <div class="bible-verse-number" id="bible-verse-{{chapter-number}}-{{verse.number}}">{{verse.number}}</div>
      <div class="bible-verse-text" id="bible-verse-text-{{chapter-number}}-{{verse.number}}">{{parseVerse(verse.text)}}</div>
  </div>
  {% endfor %}
</div>
