<div class="composition-track-label" id="composition-track-label-{{id}}">
<div class="track-label-text" id="track-label-text-{{id}}">
  <div contenteditable="true" id="track-label-text-content-{{id}}"  class="track-label-text-content">
    {{label}}
  </div>
</div>
<div class="track-label-text-border-bottom"></div>

  <div id="track-line-item-label-delete-button-{{id}}" class="track-line-item-label-delete-button button-effect">
    <i class="material-icons md-18" style="margin-top: 1px;">clear</i>
  <div>

</div>
