<div class='track-line-item' id='track-line-item-{{time}}'  style="background-color: {{body_color}}" name="track-line-item-{{instrument}}">
  <div class='track-line-item-label' id='track-line-item-label-{{time}}'>
    <div class='track-line-item-label-header' id="track-line-item-label-header-{{time}}"
      style="background-color: {{header_color}}" name="track-line-item-label-header-{{instrument}}">
      <div class="track-line-item-label-header-text">{{label}}</div></div>
  </div>
  <div id='track-line-item-anchor-right-{{time}}' class='track-line-item-anchor-right'></div>
</div>
