#pianoRollWindowPanel {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.piano-roll-toolbar-button-delete {
  background-image: url(icons/glyphicons-17-bin.png);
  height: 22px;
  width: 24px;
  margin-top: 2px;
  background-repeat: no-repeat;
  background-size: 13px;
  float: left;
  background-position-y: 2px;
  background-position-x: 5px;
}

.piano-roll-toolbar-button-write {
  background-image: url(icons/glyphicons-31-pencil.png);
  height: 22px;
  width: 24px;
  margin-top:2px;
  background-repeat: no-repeat;
  background-size: 18px;
  float:left;
  background-position-y: 2px;
  background-position-x: 2px;
}

.piano-roll-toolbar-button-selected {
  background-color: cadetblue;
}

#pianoRollToolBarSpace {
  width: 9%;
  height: 100%;
  float: left;
}

#pianoRollToolBar {
  width: 100%;
  height: 8%;
  background-color: rgb(50, 63, 69);
  overflow: hidden;
}

#pianoRollHorizontalScroolBar {
  width: 100%;
  height: 6%;
  background-color: rgb(12, 34, 44);
  overflow: hidden;
}

#pianoRollHorizontalBarDragger {
  width: 100%;
}


#pianoRollContent {
  /*overflow-x: scroll;*/
  /*padding-top: 2px;*/
  background-color: #223440;
  height: 86%;
  display: -webkit-box;
  overflow: hidden;
}

#pianoRollVerticalScroolBar {
  width: 15px;
  height: 100%;
  background-color: rgb(12, 34, 44);
}

#pianoRollVerticalBarDragger{
  -webkit-appearance: slider-vertical;
  width: 8px;
  height: 85%;
  padding: 0 5px;
}

#pianoRollTimelineSeconds {
  display: inline-flex;
}

.piano-roll-time-line-second {
  width: 60px;
  height: 20px;
  float: left;
  /*top: 0px;*/
  background-color: #03141c;
  border-bottom-color: darkgray;
  border-bottom-style: solid;
  border-bottom-width: thin;
  text-align:right;
}

#pianoRollTimeline {
  float: left;
  background-color: #223440;
}

#pianoRollNotes{
  width: 10%;
  float: left;
}

.piano-roll-note {
  width: 50px;
  height: 20px;
  float: left;
  text-align: right;
  /*position: absolute;*/
  background-color: rgb(82, 100, 100);
  border-bottom-color: rgb(174, 174, 174);
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.piano-roll-time-line-note-line {
  background-color: #223440;
  width: 36050px;/*talvez seja melhor deixar como 100% e colocar 36060px no timeline*/
  height: 20px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.note-in-time-line {
  background-color: white;
  width: 60px;/*talvez seja melhor deixar como 100% e colocar 36060px no timeline*/
  height: 20px;
  /*border-bottom-color: lightblue;
  border-bottom-style: solid;
  border-bottom-width: thin;*/
}
