<div id="modal-change-instrument-options">
  <div id="modal-change-instrument-name-title">Instrument {{label}} Options</div>
  <div id="modal-change-instrument-name-body">

      <label for="modal-change-instrument-name-inputtext">Name</label>
      <input type="text" id="modal-change-instrument-name-inputtext" value="{{label}}">

      <br clear="all">

      <div id="modal-change-instrument-panel-options">

      </div>

      <button onclick="modalChangeInstrumentOptionsView.save()">Save</button>
      <button onclick="modalChangeInstrumentOptionsView.cancel()">Cancel</button>
  </div>
</div>
