<div id="composition-toolbar-button-menu" class="mini-toolbar-button button-effect"><i class="material-icons md-18">dehaze</i></div>
<div id="composition-toolbar-button-write-mode" class="mini-toolbar-button"><i class="material-icons md-18">edit</i></div>
<div id="composition-toolbar-button-delete-track-item" class="mini-toolbar-button button-effect"><i class="material-icons md-18">delete</i></div>
<div id="composition-toolbar-button-add-track-item" class="mini-toolbar-button button-effect"><i class="material-icons md-18">add_circle</i></div>

<div id="composition-toolbar-label" class="composition-toolbar-label">
  <div id="composition-toolbar-label-separator" class="composition-toolbar-label-separator"></div>
  <div id="composition-toolbar-label-text" class="composition-toolbar-label-text"> Playlist </div>
</div>
