<div id="instruments-toolbar-button-menu" class="mini-toolbar-button button-effect"><i class="material-icons md-18">dehaze</i></div>
<div id="instruments-toolbar-button-options-item" class="mini-toolbar-button button-effect"><i class="material-icons md-18">settings</i></div>
<div id="instruments-toolbar-button-delete-item" class="mini-toolbar-button button-effect"><i class="material-icons md-18">delete</i></div>
<div id="instruments-toolbar-label" class="instruments-toolbar-label">
  <div id="instruments-toolbar-label-separator" class="instruments-toolbar-label-separator"></div>
  <div id="instruments-toolbar-label-text" class="instruments-toolbar-label-text"> Orchestra </div>
</div>
