<div id="instrument-amplitude-dialog-panel-{{id}}" class="instrument-amplitude-dialog-panel" style="cursor: move;">
  <div id="instrument-amplitude-dialog-body-{{id}}" class="instrument-amplitude-dialog-body" style="cursor: default;">
    <div id="instrument-amplitude-dialog-slider-{{id}}" class="instrument-amplitude-dialog-slider">
        <div id="instrument-amplitude-dialog-slider-frame-{{id}}" class="instrument-amplitude-dialog-slider-frame">
            <div id="instrument-amplitude-dialog-slider-buttom-{{id}}" style="cursor: move;" class="instrument-amplitude-dialog-slider-buttom"></div>
        </div>
    </div>
        <div id="instrument-amplitude-dialog-ok-buttom-{{id}}" style="margin-top: 10px;" class="mini-toolbar-button">
          <i class="material-icons md-18">check_circle</i>
        </div>
  </div>
</div>
